page-wild-social-search {
    .midsize{
        font-size:2em;
      }
        .col-10{
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 10%;
            -moz-box-flex: 0;
            -moz-flex: 0 0 %10;
            -ms-flex: 0 0 10%;
            flex: 0 0 10%;
          }
          .col-15{
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 15%;
            -moz-box-flex: 0;
            -moz-flex: 0 0 %15;
            -ms-flex: 0 0 15%;
            flex: 0 0 15%;
          }
          .col-20{
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 20%;
            -moz-box-flex: 0;
            -moz-flex: 0 0 %20;
            -ms-flex: 0 0 20%;
            flex: 0 0 20%;
          }
          .col-25{
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 25%;
            -moz-box-flex: 0;
            -moz-flex: 0 0 %25;
            -ms-flex: 0 0 25%;
            flex: 0 0 25%;
          }
          .col-30{
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 30%;
            -moz-box-flex: 0;
            -moz-flex: 0 0 %30;
            -ms-flex: 0 0 30%;
            flex: 0 0 30%;
          }
          .col-40{
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 40%;
            -moz-box-flex: 0;
            -moz-flex: 0 0 %40;
            -ms-flex: 0 0 40%;
            flex: 0 0 40%;
          }
          .col-50{
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 50%;
            -moz-box-flex: 0;
            -moz-flex: 0 0 %50;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
          }
          .col-65{
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 65%;
            -moz-box-flex: 0;
            -moz-flex: 0 0 %65;
            -ms-flex: 0 0 65%;
            flex: 0 0 65%;
          }
}
