page-bbs-new-post-edit {
    .midsize{
        font-size:2em;
      }
      .col-5{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 5%;
        -moz-box-flex: 0;
        -moz-flex: 0 0 %5;
        -ms-flex: 0 0 5%;
        flex: 0 0 5%;
      }
    .col-10{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 10%;
        -moz-box-flex: 0;
        -moz-flex: 0 0 %10;
        -ms-flex: 0 0 10%;
        flex: 0 0 10%;
      }
      .col-15{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 15%;
        -moz-box-flex: 0;
        -moz-flex: 0 0 %15;
        -ms-flex: 0 0 15%;
        flex: 0 0 15%;
      }
      .col-20{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 20%;
        -moz-box-flex: 0;
        -moz-flex: 0 0 %20;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
      }
      .col-60{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 60%;
        -moz-box-flex: 0;
        -moz-flex: 0 0 %60;
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
      }
}
